/*
 * Test arrowtail.
 */
.test-arrowtail .top {
  position: relative;
}
.test-arrowtail .top:after {
  width: 25px;
  height: 25px;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background: rgba(0, 0, 0, 0.5);
  top: -12.5px;
  left: calc(50% - 12.5px);
}
.test-arrowtail .right {
  position: relative;
}
.test-arrowtail .right:after {
  width: 25px;
  height: 25px;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background: rgba(0, 0, 0, 0.5);
  top: calc(50% - 12.5px);
  right: -12.5px;
}
.test-arrowtail .bottom {
  position: relative;
}
.test-arrowtail .bottom:after {
  width: 25px;
  height: 25px;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background: rgba(0, 0, 0, 0.5);
  bottom: -12.5px;
  left: calc(50% - 12.5px);
}
.test-arrowtail .left {
  position: relative;
}
.test-arrowtail .left:after {
  width: 25px;
  height: 25px;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background: rgba(0, 0, 0, 0.5);
  top: calc(50% - 12.5px);
  left: -12.5px;
}

/*
 * Test bevel.
 */
.test-bevel .top {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.5), inset 0 2px 0 0 rgba(255, 255, 255, 0.5);
}
.test-bevel .right {
  box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.5), inset -2px 0 0 rgba(0, 0, 0, 0.5);
}
.test-bevel .bottom {
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), inset 0 -2px 0 0 rgba(0, 0, 0, 0.5);
}
.test-bevel .left {
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.5), inset 2px 0 0 0 rgba(255, 255, 255, 0.5);
}

/*
 * Test dropshadow.
 */
.test-dropshadow {
  -webkit-filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
  filter: url(../img/dropshadow.svg#dropshadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
}

/*
 * Test leading.
 */
.test-leading {
  /*
    $computed-font-size: 16px
    computed-line-height: 24px
    leading: 8px
    half-leading: 4px
  */
}

/*
 * Test truncate.
 */
.test-truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * Test whitespace.
 */
.test-whitespace {
  font-size: 0.1rem;
  letter-spacing: -1em;
  word-spacing: -1em;
}
.test-whitespace a {
  font-size: 26px;
  font-size: 1.6rem;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Test hyphenate.
 */
.test-hyphenate {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -o-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-chars: 6 3 2;
  -moz-hyphenate-limit-chars: 6 3 2;
  -o-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-character: "\2010";
  -moz-hyphenate-character: "\2010";
  -o-hyphenate-character: "\2010";
  hyphenate-character: "\2010";
}

/*
 * Test ligatures.
 */
.test-ligatures {
  -moz-font-feature-settings: "liga=1", "dlig=1";
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/*
 * Test typography.
 */
.test-typography h1, .test-typography h2, .test-typography h3, .test-typography h4, .test-typography h5, .test-typography h6 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -o-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-chars: 6 3 2;
  -moz-hyphenate-limit-chars: 6 3 2;
  -o-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-character: "\2010";
  -moz-hyphenate-character: "\2010";
  -o-hyphenate-character: "\2010";
  hyphenate-character: "\2010";
  -moz-font-feature-settings: "liga=1", "dlig=1";
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}
.test-typography p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -o-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-chars: 6 3 2;
  -moz-hyphenate-limit-chars: 6 3 2;
  -o-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-character: "\2010";
  -moz-hyphenate-character: "\2010";
  -o-hyphenate-character: "\2010";
  hyphenate-character: "\2010";
  -webkit-hyphenate-limit-zone: 10%;
  -moz-hyphenate-limit-zone: 10%;
  -o-hyphenate-limit-zone: 10%;
  hyphenate-limit-zone: 10%;
  -webkit-hyphenate-limit-last: always;
  -moz-hyphenate-limit-last: always;
  -o-hyphenate-limit-last: always;
  hyphenate-limit-last: always;
  -moz-font-feature-settings: "liga=1", "dlig=1";
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
}
