
//
// Import cassetto
//
@import "../lib/cassetto";

/*
 * Test arrowtail.
 */
.test-arrowtail {
  .top {
    @include arrowtail( "top", rgba(0, 0 ,0, .5), $diagonal: 30px );
  }
  .right {
    @include arrowtail( "right", rgba(0, 0 ,0, .5), $diagonal: 30px );
  }
  .bottom {
    @include arrowtail( "bottom", rgba(0, 0 ,0, .5), $diagonal: 30px );
  }
  .left {
    @include arrowtail( "left", rgba(0, 0 ,0, .5), $diagonal: 30px );
  }
}

/*
 * Test bevel.
 */
.test-bevel {
  .top {
    box-shadow: bevel( "top", rgba(0, 0, 0, .5), rgba(255, 255, 255, .5) );
  }
  .right {
    box-shadow: bevel( "right", rgba(0, 0, 0, .5), rgba(255, 255, 255, .5) );
  }
  .bottom {
    box-shadow: bevel( "bottom", rgba(0, 0, 0, .5), rgba(255, 255, 255, .5) );
  }
  .left {
    box-shadow: bevel( "left", rgba(0, 0, 0, .5), rgba(255, 255, 255, .5) );
  }
}

/*
 * Test dropshadow.
 */
.test-dropshadow {
  @include dropshadow;
}

/*
 * Test leading.
 */
.test-leading {
  @include leading( 1.6, 1.5 );
}

/*
 * Test truncate.
 */
.test-truncate {
  @include truncate;
}

/*
 * Test whitespace.
 */
.test-whitespace {
  @include reset-whitespace("a");
}

/*
 * Test centered items.
 */
.test-centered-items {
  @include centered-items("li");
}

/*
 * Test hyphenate.
 */
.test-hyphenate {
  @include hyphenate;
}

/*
 * Test ligatures.
 */
.test-ligatures {
  @include ligatures;
}

/*
 * Test typography.
 */
.test-typography {
  h1, h2, h3, h4, h5, h6 {
    @include typography-heading;
  }
  p {
    @include typography-paragraph;
  }
}

/*
 * Test calc.
 */
.test-calc {
  @include calc(width, "100% - 50px", 100px);
}

/*
 * Test accelerate.
 */
.test-accelerate {
  @include accelerate;
}
