/*
 * Test arrowtail.
 */
.test-arrowtail .top {
  position: relative;
}
.test-arrowtail .top:after {
  width: 21px;
  height: 21px;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: -10px;
  left: calc(50% - 10px);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, transparent 50%, transparent 100%);
}
.test-arrowtail .right {
  position: relative;
}
.test-arrowtail .right:after {
  width: 21px;
  height: 21px;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: calc(50% - 10px);
  right: -10px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, transparent 50%, transparent 100%);
}
.test-arrowtail .bottom {
  position: relative;
}
.test-arrowtail .bottom:after {
  width: 21px;
  height: 21px;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: -10px;
  left: calc(50% - 10px);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, transparent 50%, transparent 100%);
}
.test-arrowtail .left {
  position: relative;
}
.test-arrowtail .left:after {
  width: 21px;
  height: 21px;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: calc(50% - 10px);
  left: -10px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, transparent 50%, transparent 100%);
}

/*
 * Test bevel.
 */
.test-bevel .top {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.5), inset 0 2px 0 0 rgba(255, 255, 255, 0.5);
}
.test-bevel .right {
  box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.5), inset -2px 0 0 rgba(0, 0, 0, 0.5);
}
.test-bevel .bottom {
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), inset 0 -2px 0 0 rgba(0, 0, 0, 0.5);
}
.test-bevel .left {
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.5), inset 2px 0 0 0 rgba(255, 255, 255, 0.5);
}

/*
 * Test leading.
 */
.test-leading {
  /*
    $computed-font-size: 16px
    computed-line-height: 24px
    leading: 8px
    half-leading: 4px
  */
}

/*
 * Test truncate.
 */
.test-truncate .ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.test-truncate .clip {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.test-truncate .string {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
}
.test-truncate .two-values {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip ellipsis;
}

/*
 * Test whitespace.
 */
.test-whitespace {
  font-size: 0.1rem;
  letter-spacing: -1em;
  word-spacing: -1em;
}
.test-whitespace a {
  display: inline-block;
  font-size: 26px;
  font-size: 1.6rem;
  letter-spacing: normal;
  word-spacing: normal;
}
.test-whitespace a {
  *display: inline;
  zoom: 1;
}

/*
 * Test centered items.
 */
.test-centered-items {
  text-align: justify;
  width: 100%;
}
.test-centered-items:after {
  width: 100%;
  display: inline-block;
  content: "";
}
.test-centered-items li {
  width: auto;
  display: inline-block;
}

/*
 * Test hyphenate.
 */
.test-hyphenate {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-chars: 6 3 2;
  -moz-hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-character: "\2010";
  -moz-hyphenate-character: "\2010";
  -ms-hyphenate-character: "\2010";
  hyphenate-character: "\2010";
}

/*
 * Test ligatures.
 */
.test-ligatures {
  -moz-font-feature-settings: "liga=1", "dlig=1";
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/*
 * Test kerning.
 */
.test-kerning {
  -moz-font-feature-settings: "kern=1";
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

/*
 * Test oldstyle-numbers.
 */
.test-oldstyle-numbers {
  -moz-font-feature-settings: "onum=1";
  -webkit-font-feature-settings: "onum" 1;
  -moz-font-feature-settings: "onum" 1;
  font-feature-settings: "onum" 1;
}

/*
 * Test typography.
 */
.test-typography h1, .test-typography h2, .test-typography h3, .test-typography h4, .test-typography h5, .test-typography h6 {
  -moz-font-feature-settings: "liga=1", "dlig=1";
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
.test-typography p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-chars: 6 3 2;
  -moz-hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-character: "\2010";
  -moz-hyphenate-character: "\2010";
  -ms-hyphenate-character: "\2010";
  hyphenate-character: "\2010";
  -webkit-hyphenate-limit-zone: 10%;
  -moz-hyphenate-limit-zone: 10%;
  -ms-hyphenate-limit-zone: 10%;
  hyphenate-limit-zone: 10%;
  -webkit-hyphenate-limit-last: always;
  -moz-hyphenate-limit-last: always;
  -ms-hyphenate-limit-last: always;
  hyphenate-limit-last: always;
  -moz-font-feature-settings: "liga=1", "dlig=1";
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
}

/*
 * Test font smoothing.
 */
.test-font-smoothing .on {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
.test-font-smoothing .off {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*
 * Test calc.
 */
.test-calc {
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
}
.nocsscalc .test-calc {
  width: 100px;
}

/*
 * Test accelerate.
 */
.test-accelerate {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: preserve-3d;
  -moz-transform: preserve-3d;
  -ms-transform: preserve-3d;
  -o-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

/*
 * Test will-change.
 */
.test-will-change .should-pass {
  will-change: transform;
}
.test-will-change .should-warn {
  will-change: height;
}

/*
 * Test generated.
 */
.test-generated:before {
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
}
.test-generated:after {
  width: 20px;
  height: 20px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/*
 * Test log.
 */
log {
  size: 50px;
  message: "An error message";
  bool: false;
  val: null;
}

/*
 * Test functions.
 */
.test-functions {
  map-set: (key: value, new: value);
  strip-unit: 10;
  join: "one/two/three";
}
