
//
// Cassetto center.
//

@mixin vertical-center {
  display: flex;
  align-items: center;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin vertical-center($child) {
  display: table;

  #{$child} {
    display: table-cell;
    vertical-align: middle;
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center($child) {
  display: flex;

  #{$child} {
    margin: auto;
  }
}

@mixin center() {
  display: grid;
  grid: auto/50%;
  place-content: center;
}

@mixin center() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
