
// Cassetto
// Sass extensions: lists
// ----------------------


// Join `$list` into a string
// --------
// @param [list] $list
// @param [string] $glue
// --------
// @return [string]

@function _join($list, $glue: "") {
  $result: "";
  $length: length($list);

  @if $length < 1 {
    @return $result;
  }

  @for $i from 1 through $length {
    $result: $result
             + nth($list, $i)
             + if($i != $length, $glue, "");
  }

  @return $result;
}


// Return whether `$value` is contained in `$list`
// --------
// @param [list] $list
// @param [$value] $value
// --------
// @return [boolean]

@function contain($list, $value) {
  @return not not index($list, $value);
}
