
//
// Import cassetto/filter
//
@import "filter/filter";


//
// Global test styles.
//

body {
  background: lightGrey;
}

main {
  width: 80%;
  margin: 0 auto;
}

.test {
  width: 20%;
  height: 100px;
  margin: 3rem 0;
  background: white;
}



/*
 * Test blur.
 */
.test-blur {
  @include blur(8);
}

/*
 * Test dropshadow.
 */
.test-dropshadow {
  @include dropshadow($offset-x: 3px, $offset-y: 3px, $blur-radius: 4px, $color: rgba(0, 0, 0, .5));
}
